%html
	%head
		%title BASE APP
		%link{:rel => "stylesheet", :href=>"http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"}
		= javascript_include_tag "application"
		%script{:src=>"http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"}
		=csrf_meta_tags
	%body
		%div{data:{role:'page'}}
			%div{data:{role:'header'}}
				= link_to 'Home', home_url, data:{icon: 'home'}
				%h1 aPplicaTion
			%div{data:{role:'content'}}
				%p Page Content Here
				=yield
			%div{data:{role:'footer', position:'fixed'}}
				%h1 Page Footer